<!doctype html>
<html lang="en">
<head>
    <meta charset=" UTF-8">
<title>Department</title>
<meta name="description" content="">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/navbar.css">
<style>
    
</style>
</head>

<body>

    <%-include('partials/header')%>
    <div class="container mt-5">    
        <div class="row">
            <h1><%=depart.name%> Department</h1>
            <hr>
            <div class="col-md-9"><p><%=depart.about%>
            </p>
            <a href="/faculty/<%=depart.id%> "><button class="btn btn-dark m-2">Our faculty</button></a>
            <a href="/courses"><button class="btn btn-dark m-2">Courses</button></a>
            <a href="/student"><button class="btn btn-dark m-2">Student</button></a>
            <a href="#"><button class="btn btn-dark m-2">Class Routine</button></a>
            </div>
            <div class="col-md-3 mt-1 p-3 h-50" style="background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);">
                <div id="contact">
                <h3>Contact Information</h3>
                <div style="margin-left: 1.025rem;">
                <p>contact number</p>
                <p>Email</p>
                </div>        
            </div> 
        </div>
        </div>
    </div>
    
</body>
<%-include('partials/footer')%> 

</html>
